.message_input {

    display: flex;
    flex-direction: row;
}

.left_filler {
    flex : 1;
}

.right_filler {
    flex : 1;
}

.message_box {
    flex : 4;
    display : flex;
}
.message_input {
    flex : 5;
}
.message_submit {
    flex : 1;
}