.message_input {

    display: flex;
    flex-direction: row;
}

.left_filler {
    flex : 1;
}

.right_filler {
    flex : 1;
}

.message_box {
    flex : 4;
    display : flex;
}
.message_input {
    flex : 5;
    min-height : 4vh;
}
.message_submit {
    flex : 1;
}

.main_container {
    min-height : 95vh;
}

.reverse {
    flex-direction:row-reverse;
}


.message_list {

   
    /* min-height: 3rem; */
    margin-top: 3px;
}

.message_list_item {
    display: flex;
    margin-top: 5px;
    
}

.message_sub_item {
    display : flex;
 align-items: center;
 vertical-align: middle;
}

.chat {

    background-color: #273c75;
    padding : 15px;
    border-radius: 20px 20px 20px 0%;
}
.chat_reverse {

    background-color: #273c75;
    padding : 15px;
    border-radius: 20px 20px 0% 20px;
}

.online_circle {
  align-self: center;
}

.message_info_container {
    overflow-y: scroll;
    max-height: 95vh;
    flex : 3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}